<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>

	<title>Sole-Zon-Solis Energy Solutions</title>
</head>

<body>
	<!-- blehhh :P navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0" , style="margin-left: auto; margin-right: auto;">
					<li class="nav-item">
						<a class="navbar-brand" href="home">
							<img src="../static/solis-logo.png" alt="Sole-Zon-Solis logo" height="56"
								class="d-inline-block align-text-top">
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="contact-us">Contact Us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="manufacturing">Manufacturing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="solar-generation">Solar Generation</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href={{ userStateHref }}>{{ userStateText }}</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- blehhh :P main body -->
	<div class="container">
		<br>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-center">Manufacturing</h2>
				</div>
			</div>
			<br>
			<p class="text-center">
				Being part of the Vita Vehiculum family means that we support the manufacturing of electric vehicles
				(EV). Utilizing our solar generation, Vita Vehiculum has built a new electric vehicle manufacturing
				complex right here at Sonneberg Fields. It provides the capability of building EV in a plant run
				completely off solar! It is much more efficient than any of our competitors! Please reach out via the
				Contact Us page for more information regarding our EV manufacturing.
			</p>
		</div>

		<br>
	</div>
	<!-- blehhh :P END main body -->

	<!-- blehhh :P footer -->
	<div class="container">
		<hr>

		<div class="row" style="text-align: center;">
			<div class="col">
				<img src="../static/vita-logo.png" alt="Vita Vehiculum logo" height="40"
					class="d-inline-block align-text-top">
			</div>

			<div class="col">
				<button type="button" class="btn btn-outline-dark"> Subscribe to Newsletter </button>
			</div>

			<div class="col">
				<ul class="list-unstyled">
					<li><a href="contact-us"> Contact Us </a></li>
					<li><a href="manufacturing"> Manufacturing </a></li>
					<li><a href="solar-generation"> Solar Generation </a></li>
				</ul>
			</div>
		</div>
	</div>

</body>

</html>
