{% extends "site-base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center">Solar Generation</h2>
		</div>
	</div>
	<br>
	<p class="text-center">
		We are proud of being the newest addition to the Vita Vehiculum family and support their
		manufacturing capabilities with over 15 acres of solar farms throughout the country. Currently our
		largest farm, Sonneberg Fields, has capabilities of generation approximately 14000 kW/h of electricity.
		Our mission has always been clean energy and our solar generation efforts are our star in that. Please
		reach out via the Contact Us page for more information regarding commercial utilization.
	</p>
</div>

{% endblock %}